.sect1{
  margin-bottom: 7rem;
}
.sect1 span{
  font-weight: bold;
  font-size: 700%;
  margin: -0.2em 0px 0px;
  align-self: center;
}
.sect2 h3{
  text-align: center;
}
.sectheader{
  grid-column: 1/4;
  width: 100%;
  margin-top: 4em;
  text-align: center;
}


.pie {
  display: block;
  margin: auto;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  justify-self: center;
  background-image: conic-gradient(
    var(--color) calc(3.6deg * var(--value, 0)),
    #EEEEEE 0
  );
  background-origin: border-box;
  position: relative;
}
.pie div{
  width: 14rem;
  height: 14rem;
  background-color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 100%;
}
.pie div section{
  position: absolute;
  top: 1rem;
  text-align: center;
  width: 100%;
}
.pie h2{
  font-size: 350%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pie p{
  margin-top: 1rem;
}

.bar{
  background: linear-gradient(
    90deg
    , var(--color) var(--value)
    , #eee 0%
  );
  width: 78%;
  padding: 0.5rem;
  text-align: left;
  color: white;
  font-weight: bold;
  position: relative;
}
.bar span{
  position: absolute;
  top: 0rem;
  right: -2.2rem;
  color: black;
  text-align: left;
}
