/* Brand Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$uab-green: #1F6B52;
$dark-green: #295135;
$apple: #80bc00;
$slate: #808285;
$blaze: #ffd400;
$gold: #aa9767;

$light-grey: #F3F3F4;
$white-grey: #FFF;
$mid-grey: $slate;
$dark-grey: #222;

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$btn-color: $uab-green;
$btn-hover: $dark-green;
$highlight-color: $apple;

/* Roundness
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$btn-radius: 4px;
$form-radius: 4px;
$block-radius: 4px;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-stack: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-stack: "kulturista-web", "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
